
/* Base Element Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1024px;
    color: rgb(255, 254, 254);
    background-color: #ffffff;
}

nav img {
   max-width: 70%;
   display: flex;
   margin: 3em auto 2em; 
}

img {
    max-width: 100%;
    margin: 1em auto 1em;
}

p {
    font-weight: 200;
    color: #948c8c;
    text-align: center;
    font-size: larger;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(10, 10, 10);
}

nav {
    font-family: "Roboto", Arial, Verdana;
    font-weight: 900;
    background-color: #f5f5f5;
    padding: 1em;
    margin: 0 auto;

}

h1,
.top-nav {
    text-align: center;
    font-weight: bolder;
}

.top-nav,
.top-nav li {
    width: 100%;
}

h1 a,
.top-nav a {
    color: black;
    font-weight: bolder;
}

.top-nav {
    margin-top: 30px;
}

.top-nav li {
    padding: 15px 0;
    margin: 5px auto;
    background-color: white;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 3.5em auto 2.5em;
    text-align: center;
    color: #272727;
}

.topics {
    margin: 10px;
    min-height: 250px;
    color: rgb(117, 113, 113);
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
    background-color: #fff;
}

.col h3,
p {
    margin: 1em auto 1em;
}

.box-6 {
    padding-bottom: 3rem;
}

.box-7 {
    max-width: 100%;
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin: 0em auto 0em;
    background-color: #f5f5f5;
    color: #0c0c0c;
}

.box-7 p {
    max-width: 90%;
}

hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid rgb(226, 224, 224);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 80px;
    background-color: #f5f5f5;
    color: #272727;
}

.footer-nav {
    font-size: small;
}

.top {
    margin-right: 1em;
}

.full {
    display: none;
}



/* MEDIA QUERIES */

/* Media Query Screen Size 768px */

@media (min-width: 768px) {
    .top-nav {
        margin-top: 0;
    }

    .top-nav li {
        display: inline-block;
        width: auto;
        margin-right: 15px;
        background-color: #f5f5f5;
    }

    .top-nav li:last-child {
        margin-right: 0;
    }

    .intro {
        display: flex;
        flex-direction: row-reverse;
    }

    .intro p {
        margin-right: 3em;
    }

    nav img {
        max-width: 40%;
        margin-top: 0.5em;
    }

    nav p {
        text-align: left;
        margin-top: 0;
    }


    .container {
        display: flex;
        flex-wrap: wrap;

    }

    .topics {
        flex-basis: calc(50% - 20px);
    }

    .top {
        display: none;
    }

    footer,
    .footer-nav,

    .full {
        display: flex;
        background-color: #f5f5f5;
    }

    footer h4 a {
        margin-left: 2em;
    }

    .footer-nav {
        width: 40%;
        justify-content: space-evenly;
        margin-right: 0.3em;
    }

    .full a {
        font-weight: 700;
    }

}

/* Media Query Screen Size 1024px */

@media (min-width: 1024px) {
    body {
        background-color: #f5f5f5;

    }
    nav {
        display: block;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
    }

    .main-header,
    .top-nav,
    .intro {
        display: flex;
    }

    .main-header {
        flex-direction: row;
        justify-content: space-between;
        margin: 1em auto;
        background-color: #f5f5f5;
    }

    .name {
        width: 100%;
        text-align: left;
        margin-left: 10px;
        padding-top: 10px;
    }

    .top-nav {
        width: 40%;
        margin-right: 10px;
        text-align: right;
    }

    .intro {
        flex-direction: row-reverse;
    }

    header {
        display: block;
        background-color: #fff;
        margin: 3em 0em 0em;
        padding: 4em 0em 2em; 
    }

    .container {
        background-color: #fff;
    }

    .topics {
        flex-basis: calc(33.333% - 20px);
    }

    footer,
    .footer-nav,
    .footer-nav li {
        background-color: #f5f5f5;
    }

}